<template>
  <div>
    <h1>Home</h1>
    <CreateLink />
  </div>
</template>

<script>
import client from '../api/client'
import CreateLink from "./CreateLink";

export default {
  name: 'Home',
  components: {CreateLink},
  provide () {
    return {
      client,
    }
  }
} 
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
