<template>
  <div>
    <div v-if="!isAuthenticated" class="controls">
      <h3 v-if="error" style="color: red">{{ error }}</h3>
      <input v-model="username" type="text" id="username"/>
      <br />
      <input v-model="password" type="password" id="password"/>
      <br />
      <button id="Login" @click="doLogin()" class="submit-link">Login</button>
    </div>
    <div v-else>
      <div v-if="username" class="controls">
        <h2>Привет, {{ username }}!</h2>
      </div>
      <div v-else class="controls">
        <button id="whoami" @click="whoami()" class="submit-link">Кто я?</button>
      </div>
      <div class="controls">
        <button id="logout_button" @click="doLogout()" class="submit-link">Logout</button>
      </div>
    </div>
  </div>
</template>

<script>

import client from '../../api/client'

export default {
  name: 'Auth',
  data: function () {
    return {
      csrf: null,
      username: "",
      password: "",
      error: "",
      isAuthenticated: false
    }
  },
  provide() {
    return {
      client,
    }
  },
  mounted() {
    this.$nextTick(function () {
      this.getSession()
    })
  },
  methods: {
    getCSRF: function () {
      fetch("/api/csrf/", {
        credentials: "same-origin",
      }).then((res) => {
        this.csrf = res.headers.get("X-CSRFToken")
        console.log(this.csrf);
      })
          .catch((err) => {
            console.log(err);
          });
    },
    getSession: function () {
      fetch("/api/session/", {
        credentials: "same-origin",
      })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            if (data.isAuthenticated) {
              this.isAuthenticated = true;
            } else {
              this.isAuthenticated = false;
              this.getCSRF();
            }
          })
          .catch((err) => {
            console.log(err);
          });
    },
    isResponseOk(response) {
      if (response.status >= 200 && response.status <= 299) {
        return response.json();
      } else {
        throw Error(response.statusText);
      }
    },
    doLogin() {
      let headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": this.csrf,
      };

      fetch("/api/login/", {
        method: "POST",
        headers: headers,
        credentials: "same-origin",
        body: JSON.stringify({username: this.username, password: this.password}),
      })
          .then(this.isResponseOk)
          .then((data) => {
            console.log(data);
            this.isAuthenticated = true
            this.password = "";
            this.error = "";
          })
          .catch((err) => {
            console.log(err);
            this.error = "Wrong username or password.";
          });
    },
    doLogout() {
      fetch("/api/logout", {
        credentials: "same-origin",
      })
          .then(this.isResponseOk)
          .then((data) => {
            console.log(data);
            this.isAuthenticated = false;
            this.getCSRF();
          })
          .catch((err) => {
            console.log(err);
          });
    },
    whoami() {
      fetch("/api/whoami/", {
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "same-origin",
      })
          .then((res) => res.json())
          .then((data) => {
            console.log("You are logged in as: " + data.username);
            this.username = data.username;
          })
          .catch((err) => {
            console.log(err);
          });
    }
  },
}
</script>

<style>
.login {
  border-radius: 20px;
  padding: 5px 15px;
  background-color: cornflowerblue;
}
</style>
