<template>
  <div>
    <h1><a href="/">bLink</a>&nbsp;<a href="/auth">login</a> </h1>
    <router-view></router-view>
  </div>
</template>

<script>
import client from './api/client'

export default {
  name: 'App',
  provide () {
    return {
      client,
    }
  },
} 
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
